<div id="carouselExampleIndicators" class="carousel slide pb-5 bg-dark">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://artic-web.imgix.net/4d115f79-7aa1-4b9a-b6d9-c8bd138e8bfd/Caravaggio-TheCardshaprs%3BAP1987_06Caravaggio-unframed-cc-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C0%2C3000%2C1688&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=3000&h=1688" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://artic-web.imgix.net/8e2ae008-16a6-4f66-9f0e-9b9a5fc2778d/V05_P04-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C585%2C3000%2C1687&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=3000&h=1687" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://artic-web.imgix.net/66a14116-edb1-4785-a1fd-6ca11ec3f009/gm_390686EX1_Original_Image10_ClaudelImageBank-Press300ppi%2C3000px%2CsRGB%2CJPEG.jpg?rect=0%2C279%2C1840%2C1033&auto=format%2Ccompress&q=80&fit=crop&crop=faces%2Ccenter&w=3000&h=1684" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>